/* Styling for Landing Component */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic,500italic,700italic);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #e0e0e0; /*#b2ebf2*/
}

.app_title {
  width: 80%;
  margin: 0 auto;
}

.app_title h1 {
  text-align: center;
  font-weight: 300;
  font-size: 12vw;
  color: #5c6bc0;
  margin-top: 8vw;
  margin-bottom: 3vw;
}

.formContainer {
  width: 70%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.formContainer form input:-webkit-autofill,
.formContainer form input:-webkit-autofill:hover,
.formContainer form input:-webkit-autofill:focus,
.formContainer form input:-webkit-autofill:active { 
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #1a237e !important;
}

.formContainer form input:-moz-autofill,
.formContainer form input:-moz-autofill:hover,
.formContainer form input:-moz-autofill:focus,
.formContainer form input:-moz-autofill:active { 
  transition: background-color 5000s ease-in-out 0s;
  -moz-text-fill-color: #1a237e !important;
}

.err_mssg {
  width: 80%;
  margin: auto;
  text-align: center;
}

.err_mssg span {
  font-weight: 400;
  font-size: 3vw;
  color: #ff1744;
}

/* Styling for Create Account Component */

#createAccount {
  width: 100%;
}

/* Styling for Sign In Component */

#signIn {
  width: 100%;
}