@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic,500italic,700italic);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #e0e0e0; /*#b2ebf2*/
}