/* Styling for Assessment Content page, and the starting prompt of the assessment survey */

#assessContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#startQuest {
    width: 60%;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    flex: 1 1 auto;
}

#startQuest h1 {
    text-align: center;
    font-size: 10vw;
    font-weight: 300;
    color: #03a9f4;
}

/* Styling for the Assessment Survey questions */

.questionText {
    flex: 1 1 auto;
    width: 80%;
    height: 30vw;
    line-height: 30vw;
    margin: auto;
    margin-top: 5vw;
}

.questionText h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 400;
    color: #03a9f4/*#00838f*/;
}

.questionText h2 span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.bttn {
    width: 80%;
    margin: auto;
    flex: 1 1 auto;
    margin-top: 40vw;
}

.yesBttn {
    float: left;  
}

.noBttn {
    float: right;
}

#slider {
    flex: 1 1 auto;
    margin-top: 31vw;
}

#sliderLabel {
    width: 80%;
    margin: 0 auto;
}

#sliderLabel #min {
    margin: 0 auto;
    float: left;
    font-size: 3vw;
    font-weight: 700;
    color: #00838F;
}

#sliderLabel #max {
    margin: 0 auto;
    float: right;
    font-size: 3vw;
    font-weight: 700;
    color: #00838F;
}

#sliderCont {
    width: 80%;
    margin: 0 auto;
}

/* Styling for Assessment Results */

#assessResults {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#result {
    flex: 1 1 auto;
    margin-bottom: 17vw;
    width: 90%;
    margin: auto;
}

#result h3 {
    text-align: center;
    font-weight: 500;
    color: #00838F;
}

#result h1 {
    text-align: center;
    font-weight: 300;
    font-size: 7.5vw;
    color: #03a9f4;
}

#errRetake {
    flex: 1 1 auto;
    width: 90%;
    margin: auto;
    margin-top: 3vw;
}

#errRetake span {
    font-weight: 400;
    font-size: 3vw;
    color: #ff1744;
}

#resultBttns {
    flex: 1 1 auto;
    width: 90%;
    margin: auto;
    margin-top: 5vw;
}

#resultBttns .resBttn {
    margin-bottom: 3vw;
}

/* Styling for Suggestions Page */