/* Styling for Calendar page content  */

#calendarContent {
  width: 100%;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
}

#pastCalendarContent {
  margin-top: 3vw;
  flex: 1 1 auto;
}

#currentCalendarContent {
  margin-top: 3vw;
  flex: 1 1 auto;
}


/* Styling for the month titles */

.monthTitle h2 {
  width: 90%;
  margin: auto;
  padding-bottom: 6vw;
  line-height: 5vw;
  text-align: center;
  font-weight: 400;
  font-size: 6vw;
  color: #1a237e;
}

/* Styling for WeekDayLabel component */

#weekDayNames {
  width: 90%;
  margin: auto;
  padding-bottom: 2vw;
  padding-right: 1vw;
  overflow: hidden;
}

.day {
  width: 14.28%;
  text-align: center;
  float: left;
  font-weight: 400;
  font-size: 3vw;
  color: #00838F;
}

/*  Styling for Calendar grid component */

.calendarGridList {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.offsetTile {
  background-color: #e0e0e0;
  max-width: 11%;
  min-width: 11vw;
  min-height: 11vw;
  margin: 0.75vw;
  flex: 1;
}

/* Styling for Calendar Day component  */

.tile {
  max-width: 9.5%;
  min-width: 9.5vw;
  min-height: 9.5vw;
  margin: 0 auto;
  position: relative;
}

.tile label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0.75vw;
  
  line-height: 4vw;
  font-size: 3vw;
  font-weight: 400;
}

.dayTile label {
  color: #e0e0e0;
}

.doneTile {
  background-color: #607d8b;
}

.doneTile label {
  color: #e0e0e0;
}

.futureTile {
  background-color: #b0bec5; 
  max-width: 9.5%;
  min-width: 9.5vw;
  min-height: 9.5vw;
  margin: 1.5vw;
  flex: 1;
}

.futureTile label {
  color: #37474f;  
}

.moodPopOver {
  width: 30vw;
  height: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  line-height: 4vw;
  font-size: 3vw;
  font-weight: 400;
}
